<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookbook</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="body-wrapper">

      <header>
        <div class="site-title-bar full-width">
          <div class="search-bar" id="search-bar">
            <input type="text" name="search" id="search" placeholder="Search your cookbook">
          </div>
          <div id="site-title-bar-content">
            <div class="menu-icon">
              <i class="fa fa-bars" id="menu-icon"></i>
            </div>
            <div class="site-title">
              <h1>Cookbook</h1>
            </div>
          </div>
          <div class="search">
            <i class="fa fa-search" id="search-icon"></i>
          </div>
        </div>
        <div class="page-title-bar full-width">
          <h2>Our Family Cookbook</h2>
        </div>
      </header>
      <nav class="main-navigation" id="main-navigation">
        <li>Invite to this Cookbook</li>
        <li>My Cookbooks</li>
        <li>Account</li>
        <li>Log Out</li>
      </nav>
      <section class="main full-width">
        <article class="recipe">
          <img src="/img/cake.jpg" alt="Cake!" class="featured-image">
          <h3>Recipe name</h3>
          <div class="column-wrapper">
            <div class="left-element"><strong>Prep Time: </strong> 5 minutes</div>
            <div class="right-element"><strong>Cook Time: </strong> 10 minutes</div>
          </div>
          <h4>Ingredents</h4>
          <ul>
            <li>ingredient 1</li>
            <li>ingredient 2</li>
            <li>ingredient 3</li>
          </ul>
          <h4>Cooking instructions</h4>
          <ul>
            <li>This is step 1.</li>
            <li>This is step 2.</li>
            <li>This is step 3.</li>
            <li>This is step 4.</li>
          </ul>
        </article>
      </section>

      <footer>

      </footer>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="/js/animations.js"></script>
  </body>
</html>
