{{! Cookbook/views/layout.hbs
    The wrapper for every page within this app.
    Here we load in our resources, set the page title,
    and wrap/render the body }}

<html>
  <head>
    <meta charset="utf-8">
    <title>Cookbook</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="body-wrapper">
      <header>
        <div class="site-title-bar full-width">
          <div class="search-bar" id="search-bar">
            <input type="text" name="search" id="search" placeholder="Search your cookbook">
          </div>
          <div id="site-title-bar-content">
            <div class="menu-icon">
              <i class="fa fa-bars" id="menu-icon"></i>
            </div>
            <div class="site-title">
              <h1>Cookbook</h1>
            </div>
          </div>
          <div class="search">
            <i class="fa fa-search" id="search-icon"></i>
          </div>
        </div>

          <div class="page-title-bar full-width">
            <div class="quarter-left">
              <h2 id="page-title">{{title}}</h2>
            </div>
            <div class="three-quarter-right text-right">
              <p>
                {{#if user}}
                  Welcome, {{user.username}}
                {{else}}
                  <a href='/account/login'>Log in</a> &vert; <a href='/account/register'>Register</a>
                {{/if}}
              </p>
            </div>
          </div>
      </header>
      <nav class="main-navigation" id="main-navigation">
        <li>Invite to this Cookbook</li>
        <li>My Cookbooks</li>
        <li>Account</li>
        <li>Log Out</li>
      </nav>
      <section class="main full-width">
        {{{body}}}
      </section>

      <footer>

      </footer>

    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/models.js"></script>
    <script src="/js/views.js"></script>
  </body>

</html>
