{{! Coobook/views/register.hbs
    Registration form partial }}
    
<form action="/account/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign Up</button>
</form>
