{{! Cookbook/views/single-cookbook.hbs
    Partial for a single cookbook view }}

<div id="recipes-container">

</div>
<script type="text/javascript">
  var app = app || {};
  app.cookbookId = "{{cookbookId}}";
</script>
<script type="text/template" id="recipe-template">
  <article class="recipe">
    <% if(image) { %>
      <img src="<%= image %>" alt="<%= name %>">
    <% } %>
    <h3><%= name %></h3>
    <div class="column-wrapper">
      <div class="left-element"><strong>Prep Time: </strong> <%= prepTime %> minutes</div>
      <div class="right-element"><strong>Cook Time: </strong> <%= cookTime %> minutes</div>
    </div>
    <h4>Ingredients</h4>
    <ul>
      <% for( var i = 0; i < ingredients.length; i++ ) {
        var plural = '';
        var whole = false;
        var fraction = false;
        // add an s if the qty is plural and unit doesn't end in s
        if(ingredients[i].quantity.whole > 1 && ingredients[i].unit.slice(-1) != 's') {
          plural = 's';
        }
        if(ingredients[i].quantity.whole > 0) {
          whole = ingredients[i].quantity.whole;
        }
        if(ingredients[i].quantity.numerator != 0 && ingredients[i].quantity.denominator != 0) {
          fraction = ingredients[i].quantity.numerator + '/' + ingredients[i].quantity.denominator;
        }
        %>
        <li>
          <% if(whole) { %>
            <%= whole %>
          <% } %>
          <% if(whole && fraction) { %>
            &amp;
          <% } %>
          <% if(fraction) { %>
            <%= fraction %>
          <% } %>
          <%= ingredients[i].unit + plural %> <%= ingredients[i].ingredient %></li>
      <% } %>
    </ul>
    <h4>Cooking instructions</h4>
    <ul>
      <% for( var i = 0; i < instructions.length; i++ ) { %>
        <li><%= instructions[i] %></li>
      <% } %>
    </ul>
    <div class="column-wrapper">
      <div class="left-element"><button class="update-recipe">Update</button></div>
      <div class="right-element text-right"><button class="delete-recipe">Delete</button></div>
    </div>
  </article>
</script>
<script src="/js/views/single-cookbook.js"></script>
<script src="/js/models/single-cookbook.js"></script>
