{{! Cookbook/views/single-cookbook.hbs
    Partial for a single cookbook view }}

<div id="recipes-container">

</div>
<script type="text/javascript">
  var app = app || {};
  app.cookbookId = "{{cookbookId}}";
</script>
<script type="text/template" id="recipe-template">
  <article class="recipe">
    <% if(image) { %>
      <img src="<%= image %>" alt="<%= name %>">
    <% } %>
    <h3><%= name %></h3>
    <div class="column-wrapper">
      <div class="left-element"><strong>Prep Time: </strong> <%= prepTime %> minutes</div>
      <div class="right-element"><strong>Cook Time: </strong> <%= cookTime %> minutes</div>
    </div>
    <h4>Ingredents</h4>
    <ul>
      <% for( var i = 0; i < ingredients.length; i++ ) { %>
        <li><%= ingredients[i] %></li>
      <% } %>
    </ul>
    <h4>Cooking instructions</h4>
    <ul>
      <% for( var i = 0; i < instructions.length; i++ ) { %>
        <li><%= instructions[i] %></li>
      <% } %>
    </ul>
  </article>
</script>
<script src="/js/views/single-cookbook.js"></script>
<script src="/js/models/single-cookbook.js"></script>
