{{! Cookbook/views/single-cookbook.hbs
    Partial for a single cookbook view }}

<div id="recipes-container">

</div>
<script type="text/javascript">
  var app = app || {};
  app.cookbookId = "{{cookbookId}}";
</script>
<script type="text/template" id="recipe-template">
  <article class="recipe">
    <% if(image) { %>
      <img src="<%= image %>" alt="<%= name %>">
    <% } %>
    <h3><%= name %></h3>
    <div class="column-wrapper">
      <div class="left-element"><strong>Prep Time: </strong> <%= prepTime %> minutes</div>
      <div class="right-element"><strong>Cook Time: </strong> <%= cookTime %> minutes</div>
    </div>
    <h4>Ingredients</h4>
    <ul>
      <% for( var i = 0; i < ingredients.length; i++ ) {
        var plural = '';
        var whole = false;
        var fraction = false;
        // add an s if the qty is plural and unit doesn't end in s
        if(ingredients[i].quantity.whole > 1 && ingredients[i].unit.slice(-1) != 's') {
          plural = 's';
        }
        if(ingredients[i].quantity.whole > 0) {
          whole = ingredients[i].quantity.whole;
        }
        if(ingredients[i].quantity.numerator != 0 && ingredients[i].quantity.denominator != 0) {
          fraction = ingredients[i].quantity.numerator + '/' + ingredients[i].quantity.denominator;
        }
        %>
        <li>
          <% if(whole) { %>
            <%= whole %>
          <% } %>
          <% if(whole && fraction) { %>
            &amp;
          <% } %>
          <% if(fraction) { %>
            <%= fraction %>
          <% } %>
          <%= ingredients[i].unit + plural %> <%= ingredients[i].ingredient %></li>
      <% } %>
    </ul>
    <h4>Cooking instructions</h4>
    <ul>
      <% for( var i = 0; i < instructions.length; i++ ) { %>
        <li><%= instructions[i] %></li>
      <% } %>
    </ul>
    <div class="column-wrapper">
      <div class="left-element"><button class="update-recipe">Update</button></div>
      <div class="right-element text-right"><button class="delete-recipe">Delete</button></div>
    </div>
  </article>
</script>

<script type="text/template" id="add-recipe-template">
  <article id="add-recipe-form" class="recipe add-recipe-form">
    <h3>Create a New Recipe</h3>
    <input type="text" id="recipe-name" class="recipe-name" placeholder="Recipe Name">
    <input type="number" id="prep-time" placeholder="Prep Time">
    <input type="number" id="cook-time" placeholder="Cook Time">
    <h4>Ingredients</h4>
    <div id="add-ingredients-container">
      <div class="add-ingredient">
        <input type="number" class="qty-whole" value="1"> &amp;
          <input type="number" class="qty-numerator" value="0">/<input type="number" class="qty-denominator" value="1">
        <input type="text" class="unit" placeholder="Unit">
        <input type="text" class="ingredient-name" placeholder="Ingredient 1"> <i class="fa fa-plus-circle new-ingredient clickable"></i><br>
        Quantity
      </div>
    </div>
    <h4>Instructions</h4>
    <div id="add-instructions-container">
      <input type="text" class="add-instruction" placeholder="Step 1"> <i class="fa fa-plus-circle new-instruction clickable"></i>
    </div>
    <h4>Tags</h4>
    <div id="add-tags-container">
      <input type="text" class="add-tag" placeholder="tag"> <i class="fa fa-plus-circle new-tag clickable"></i>
    </div>
    <h4>Image</h4>
    <input type="file" id="add-image" value="Choose Image">
    <button id="create-recipe-button" class="create-recipe-button clickable">Create recipe</button>
  </div>
</script>

<script type="text/template" id="add-ingredient-template">
  <div class="add-ingredient">
    <input type="number" class="qty-whole" value="1"> &amp; <input type="number" class="qty-numerator" value="0">/<input type="number" class="qty-denominator" value="1">
    <input type="text" class="unit" placeholder="Unit">
    <input type="text" class="ingredient-name" placeholder="Ingredient 1"> <i class="fa fa-plus-circle new-ingredient clickable"></i><i class="fa fa-minus-circle clickable delete-input"></i><br>
    Quantity
  </div>
</script>

<script type="text/template" id="add-instruction-template">
  <input type="text" class="add-instruction" placeholder="Step 1"> <i class="fa fa-plus-circle new-instruction clickable"></i><i class="fa fa-minus-circle clickable delete-input"></i>
</script>

<script type="text/template" id="add-tag-template">
  <input type="text" class="add-tag" placeholder="tag"> <i class="fa fa-plus-circle new-tag clickable"></i><i class="fa fa-minus-circle clickable delete-input"></i>
</script>

<script src="/js/Recipe.js"></script>
<script src="/js/Cookbook.js"></script>
<script src="/js/views/add-recipe.js"></script>
