@font-face {
  font-family: 'Poiret One';
  src: url('fonts/PoiretOne-Regular.tff') format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  src: url('fonts/DroidSerif.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Serif bold';
  src: url('fonts/DroidSerif-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Serif italic';
  src: url('fonts/DroidSerif-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Serif bold italic';
  src: url('fonts/DroidSerif-BoldItalic.ttf') format('truetype');
}
*,
body,
div,
header,
footer,
section,
article {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Droid Serif';
}
html,
body {
  background: #fcfcef;
  background-image: url('/img/yellow-paper-texture.jpg');
  background-repeat: repeat;
}
.mobile-hide {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25em 0;
}
.message-banner {
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 1px;
  margin: 10% auto;
}
h3 {
  font-family: 'Poiret One';
  text-transform: uppercase;
  letter-spacing: 2px;
}
img {
  max-width: 100%;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
button {
  padding: 0.5em;
  width: 100px;
  background: #EFEFEF;
  border: 1px solid #CCC;
  border-radius: 5px;
}
button:hover {
  background: #DFDFDF;
}
.bold {
  font-family: "Droid Serif bold";
}
.clickable {
  cursor: pointer;
}
.centered {
  margin: 0 auto;
}
.full-width {
  width: 100%;
  padding: 1em;
  overflow: hidden;
  clear: both;
}
.text-right {
  text-align: right;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  background: rgba(255, 255, 255, 0.95);
}
.main-navigation {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #fcfcef;
}
.main-navigation li {
  padding: 1em;
  border-top: 1px solid #EFEFEF;
}
.menu-icon,
.search {
  float: left;
  width: 25%;
  font-size: 1.5em;
  margin-top: 0.125em;
}
#page-title {
  font-family: 'Droid Serif';
  font-weight: normal;
  font-style: normal;
}
.fa-search,
.fa-bars {
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}
.search-bar {
  display: none;
  width: 75%;
  float: left;
}
.search-bar input {
  width: 100%;
  padding: 0.25em;
  border: 1px solid #666;
  border-radius: 5px;
  margin-top: 0.25em;
}
.site-title {
  width: 50%;
  float: left;
  text-align: center;
}
.site-title h1 {
  font-family: 'Poiret One', cursive;
  letter-spacing: 1px;
  margin: 0;
}
.site-title-bar {
  overflow: hidden;
  height: 70px;
  background: rgba(40, 153, 180, 0.39);
}
.page-title-bar.full-width {
  background: rgba(255, 171, 73, 0.7);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  padding: 0.5em 1em;
}
.page-title-bar h2 {
  font-weight: 400;
  text-align: left;
  margin: 0;
}
.page-title-bar p {
  margin-top: 0.3em;
}
.search .fa {
  float: right;
}
.main {
  margin-top: 130px;
}
.recipe {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto 1em;
  padding: 1em;
  background: #fdfdfd;
  counter-reset: ingredient-counter;
}
.recipe ol li:before {
  content: counter(ingredient-counter);
  counter-increment: ingredient-counter;
  font-size: 0.75em;
  color: #000;
  margin-right: 0.5em;
  font-weight: 700;
}
.recipe:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.toggle-recipe-info {
  text-align: center;
}
.recipe-title {
  text-align: center;
}
.featured-image {
  width: 100%;
  margin: 0 auto;
}
.main h3,
.main h4,
.main li,
.main p,
.main .column-wrapper {
  margin-top: 0.5em;
}
.column-wrapper {
  overflow: hidden;
}
.quarter-left {
  width: 25%;
}
.three-quarter-right {
  width: 75%;
}
.left-element,
.right-element {
  width: 50%;
}
.left-element,
.quarter-left {
  float: left;
}
.right-element,
.three-quarter-right {
  float: right;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0 20px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-form input,
.main-form button {
  display: block;
  margin: 0 auto 1em;
  width: 100%;
  padding: 1em;
}
.add-recipe-form {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 0 auto 3em;
  background: #fdfdfd;
  padding: 2em;
}
.add-recipe-form input,
.add-recipe-form button {
  padding: 0.5em;
  margin-bottom: 0.25em;
}
.add-recipe-form .recipe-name,
.add-recipe-form button {
  width: 100%;
}
.add-recipe-form .unit {
  width: 5em;
}
.add-recipe-form .add-ingredient input[type=number] {
  width: 3.5em;
}
.add-recipe-form .add-ingredient input[type=number].fraction {
  width: 3em;
}
.add-recipe-form .add-instruction {
  width: 80%;
}
.add-recipe-form .add-tag:not(:first-child) {
  margin-left: 0.5em;
}
.add-recipe-form .delete-input {
  margin-left: 0.5em;
}
.recipe-info {
  display: none;
}
@media only screen and (min-width: 736px) {
  .mobile-hide {
    display: inherit;
  }
  #recipes-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .recipe {
    width: 48%;
  }
}
@media only screen and (min-width: 1000px) {
  .recipe {
    width: 32%;
  }
}
@media only screen and (min-width: 1600px) {
  .recipe {
    width: 19%;
  }
}
