*, body, div, header, footer, section, article {
  box-sizing: border-box;
  margin: 0;
}

.full-width {
  width: 100%;
  padding: 1em;
  overflow: hidden;
  clear: both;
}

.text-right {
  text-align: right;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  background: rgba(255, 255, 255, 0.95);
}

.main-navigation {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #FFF;
}

.main-navigation li {
  padding: 1em;
  border-top: 1px solid #EFEFEF;
}

.menu-icon, .search {
  float: left;
  width: 25%;
  font-size: 1.5em;
  margin-top: 0.125em;
}

.fa-search, .fa-bars {
  cursor: pointer;
}

.search-bar {
  display: none;
  width: 75%;
  float: left;
}

.search-bar input {
  width: 100%;
  padding: 0.25em;
  border: 1px solid #666;
  border-radius: 5px;
}

.site-title {
  width: 50%;
  float: left;
  text-align: center;
}

.site-title h1 {
  font-family: 'Poiret One', cursive;
  margin: 0;
}

.site-title-bar {
  overflow: hidden;
  height: 70px;
}

.page-title-bar {
  background: #EFEFEF;
}

.page-title-bar h2 {
  font-weight: 400;
  text-align: center;
}

.search .fa {
  float: right;
}

.main {
  margin-top: 130px;
}

.recipe {
  margin: 0 auto 3em;
  max-width: 800px;
}

.featured-image {
  width: 100%;
  margin: 0 auto;
}

.main h3, .main h4, .main li, .main p, .main .column-wrapper {
  margin-top: 0.5em;
}

.column-wrapper {
  overflow: hidden;
}

.left-element, .right-element {
  width: 50%;
}

.left-element {
  float: left;
}

.right-element {
  float: right;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
